/* ================================
    Default THEME
    -------------------
    Fonts: Raleway & Open Sans
    Colors:
        Blue:               #247ba0;
        Green:              #70c1b3;
        Green Light:        #b2dbbf;
        Yellow:             #f3ffbd;
        Light red:          #ff1654;
        Grey:               #212226
        White SMOKE:        #f4f4f4;
        White:              #fff;
        Black:              #000;    
   ================================ */

/* BODY / HTML */

html,
body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
}

body {
  color: #212226;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

section {
  background: #fff;
  overflow: hidden;
}

/* PREOLADER */
#preloader {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

#status {
  background-image: url("../img/loader.gif");
  background-repeat: no-repeat;
  position: absolute;
  height: 160px;
  width: 160px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/* ******************************* */
/* HOME SECTION */
/* ******************************* */

#home {
  background: none;
  height: 100vh;
}

#home-bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -1;
  background-image: url("../img/video/img.jpg");
  background-repeat: no-repeat;
}

#home-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.home-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-header h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 100;
  text-transform: uppercase;
}

.home-header h1 span {
  color: #70c1b3;
  font-weight: 500;
}

.home-text p {
  color: #fff;
  font-size: 17px;
  font-weight: 100;
}

.btn-general {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-home {
  color: #fff;
  border: 1px solid #fff;
}

.btn-home:hover,
.btn-home:focus {
  color: white;
  background: #70c1b3;
  border: 1px solid #70c1b3;
}

#arrow-down {
  position: absolute;
  left: 50%;
  bottom: 3%;
  color: #fff;
  font-size: 2rem;
  transition: all 0.4s;
}

#arrow-down:focus,
#arrow-down:hover {
  color: #70c1b3;
}

/* ******************************* */
/* ABOUT SECTION */
/* ******************************* */

.box-content {
  padding: 6rem 0;
}

.vertical-text-degree {
  color: #70c1b3;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 30px;
  left: 50px;
}

.vertical-text-title {
  margin-left: 8rem;
  font-size: 2.2rem;
  font-weight: 100;
  line-height: 38px;
}

.vertical-text-title strong {
  font-weight: 700;
  color: #70c1b3;
}

.about-1-right p:first-child {
  margin-bottom: 2rem;
}

.about-1-bottom {
  margin-top: 4rem;
}

.about-1-bottom img {
  margin: 0 auto;
  width: 100%;
  height: 80%;
}

.about-us-info {
  background-color: #f4f4f4;
  padding: 100px 0;
}

.about-item {
  background-color: #fff;
  padding: 80px 50px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: all .5s;
  cursor: pointer;
}

.about-item i {
  font-size: 40px;
  margin-bottom: 2rem;
  color: #70c1b3;
  transition: all .5s;
}

.about-item span {
  display: block;
  color: #70c1b3;
  font-weight: 500;
  transition: all .5s;
}


.about-item h3 {
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 1rem;
}

.about-item hr {
  margin-bottom: 1rem;
}

.about-item:hover, .about-item:focus {
  background-color: #70c1b3;
  color: white!important;
}

.about-item:hover i {
  transform: translateY(-15px);
  color: white;
}

.about-item:hover .lowtitle {
  color: white;
}

/* ******************************* */
/* TEAM SECTION */
/* ******************************* */
.team-box {
  padding: 6rem 0;
}

.vertical-paragraph {
  margin-left: 8rem;
}

.team-member img {
  width: 60%;
}

.team-left .vertical-text-title {
  padding-bottom: 30px;
}

.team-member {
  margin: 8px;
  position: relative;
}

.team-img-overlay {
  background-color: rgba(33, 34, 38, .8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: .3s all;
}

.member-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.member-info ul {
  list-style: none;
  color: #fff;
  margin-left: -35px;
}

.member-info ul li  {
  display: inline-block;
  padding: 0;
}

.member-info ul li i {
  color: white;
  border: 1px solid white;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.member-info ul li:first-child i:hover {
  background-color: #3b5998;
  border:1px solid #3b5998;
}

.member-info ul li:nth-child(2) i:hover {
  background-color: #00aced;
  border:1px solid #00aced
}

.member-info h3{
  color: #70c1b3;
  font-size: 16px;
}

.member-info p {
  color: #fff;
}

.team-member:hover .team-img-overlay {
  opacity: 1;
}

.progress-items {
  margin-top: 2rem;
}

.skill1 h3, .skill2 h3 {
  font-weight: 100;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  line-height: 30px;
}

.skill3 h3, .skill4 h3 {
  margin-top: 2rem;
  font-size: 1.3rem;
  line-height: 30px;
  font-weight: 100;
}

.progress-bar {
  background-color: #70c1b3!important;
}

.progress-title {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background: #212226;
  padding: 3px;
}

/* ******************************* */
/* STATEMENET SECTION */
/* ******************************* */

.statement {
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, .6),
    rgba(0, 0, 0, .6)
  ),url('/img/statement.jpg');
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.statement-description{
  color: white;
  font-weight: 100;
  line-height: 50px;
}

.statement-description i {
  margin: 10px 30px;
}

.statement-author {
  margin-top: 1rem;
  color: white;
  font-style: italic;
}

/* ******************************* */
/* SERVICES SECTION */
/* ******************************* */

.box-content-2 {
  padding: 80px 0;
}

.horizontal-text-subtitle {
  color: #70c1b3;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.horizontal-text-title {
  font-weight: 100;
  font-size: 2.2rem;
  line-height: 38px;
  margin-top: -10px;
}

.horizontal-text-title strong {
  color: #70c1b3;
  font-weight: 700;
  
}

.service {
  margin: 35px 0;
}

.service h3 {
  font-size: 1.7rem;
  font-weight: 100;
}

.service i {
  font-size: 2rem;
  margin: 0;
  transition: all .5s;
}

.service:hover i {
  color: #70c1b3;
  transform: translateX(-3px);
}

/* ******************************* */
/* SERVICES RESPONSIVE TABS SECTION */
/* ******************************* */

.service-tabs {
  background: #f4f4f4;
  padding: 100px 0;
}

.service-tabs ul li {
  padding: 5px 15px;
}

.service-tabs ul li a {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #212226;
  padding-bottom: 5px;
}

/* STYLOWANIE AKTYWNEGO ELEMENTU */

.service-tabs ul li.r-tabs-state-active a {
  color: #70c1b3;
}

/* *********************** */
.service-tabs img {
  height: 400px;
}

.service-tabs .col-lg-6 {
    padding: 0;
}

.service-info {
  background: #fff;
  padding: 25px 80px;
  min-height: 400px;
}

.service-info h2 {
  margin-bottom: 2rem;
  font-weight: 100;
  color: #70c1b3;
}

.btn-service {
  background-color: #70c1b3;
  color: white;
  transition: all .3s;
}

.btn-service:hover, .btn-service:focus {
  color: white;
  transform: translateY(-2px);
}

/* ******************************* */
/* PORTFOLIO SECTION */
/* ******************************* */

.portfolio-item {
  overflow: hidden;
  transition: all .4s;
}

.ourworks .vertical-text {
  margin-bottom: 3rem;
}

.portfolio .col-lg-3 {
  padding: 0;
}

.portfolio-item img {
  position: relative;
  height: 40vh;
  transition: all .4s;
}

.portfolio-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.portfolio-item:hover .portfolio-item-overlay {
  opacity: 1;
}

.portfolio-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(33, 34, 38, .8);
  -webkit-cursor: zoom-in;
  cursor: zoom-in;
  opacity: 0;
  transition: all .4s;
}

.portfolio-item-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio-item-details h3 {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.portfolio-item-details p {
  font-size: 14px;
  color: white;
}

.portfolio-item-details span {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 6px;
  width: 20px;
}

/* FILTERS CSS */
.isotope-filter {
  text-align: center;
  margin-bottom: 1rem;
  padding: 20px 0;
  border: none;
}

.isotope-filter button {
  font-family: 'Raleway', sans-serif;
  box-shadow: none;
  background: transparent;
  font-weight: 500;
  border: none!important;
}

.isotope-filter button:hover, .isotope-filter button:focus {
  color: #70c1b3;
  border: none!important;
}

.isotope-filter button:focus {
  box-shadow: none;
  border: none;
}

/* ******************************* */
/* OPINIONS SECTION */
/* ******************************* */
.opinions-box-content {
  padding: 60px 0 40px 0;
}

.owl-carousel .owl-nav .owl-next {
  display: inline-block;
  padding: 10px;
}
.owl-carousel .owl-nav .owl-prev {
  display: inline-block;
  padding: 10px;
}

.owl-carousel .owl-nav .owl-prev i, .owl-carousel .owl-nav .owl-next i {
  font-size: 18px;
}

.owl-nav {
  text-align: center;
  color: #70c1b3;
}

.opinions {
  background-color: #f4f4f4;
}

.opinions-items {
  padding: 20px;
}

.opinions-items h3 {
  color: #70c1b3;
  font-weight: 100;
  margin-bottom: 1rem;
}

.opinion-description {
  margin-bottom: 1rem;
  line-height: 30px;
}

.stars i {
  color: #70c1b3;
}

.author img {
  height: 80px;
  width: 80px;
}

.author-name p {
  margin: 0;
}

/* ******************************* */
/* PRICING SECTION */
/* ******************************* */

.price-table {
  margin-top: 2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  border-radius: 10px;
  padding: 3rem 1rem;
  transition: all .4s linear;
}

.price-table:hover {
  background-color: #70c1b3;
}

.price-table .type h3 {
  font-size: 20px;
  color: #70c1b3;
  margin-bottom: 1rem;
  transition: all .4s linear;
}

.price-table .price {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 2rem 0;
}

.price-table .price h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  position: relative;
}

span.pln {
  font-size: 15px;
  color: #70c1b3;
  position: absolute;
  top: 5px;
  right: 5px;
  transition: all .4s linear;
}

.offers {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 18px;
}

.offers a {
  display: block;
  padding: 10px 0;
  font-weight: 100;
}

.offers a i {
  color: #70c1b3;
  font-size: 22px;
  margin-right: .5rem;
  transition: all .4s linear;
}

.best-price {
  background-color: #70c1b3;
  color: #fff;
}

.best-price h3 {
  color: white!important;
}

.best-price span.pln {
  color: white!important;
}

.best-price a i {
  color: white!important;
}

.best-price .btn-service {
  background-color: white!important;
  color: #70c1b3;
}

.price-table:hover .offers a i, 
.price-table:hover span.pln,
.price-table:hover .type h3 {
  color: white
}

.price-table:hover .btn-service {
  background-color: white;
  color: #70c1b3;
  transition: all .4s linear;
}

.price-table:hover {
  color: white;
}

/* ******************************* */
/* STATS SECTION */
/* ******************************* */


.stats {
  background: linear-gradient(to bottom right,
  rgba(0, 0, 0, .7),
  rgba(0, 0, 0, .7))
  ,url('../img/stats.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.stats-margin {
  margin-bottom: 2rem;
}

.stats .vertical-text-title {
  color: white;
}

.stats .vertical-text-title strong {
  color: white;
}

.single-stats {
  text-align: center;
  margin-top: 3rem;
  padding: 20px 32px;
  color: white;
  background-color: rgba(255, 255, 255, .2);
}

.stats-icon {
  font-size: 32px;
  color: #70c1b3;
  margin-bottom: .2rem;
}

.stats-int {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.stats-text p {
  text-transform: capitalize;
  letter-spacing: .5px;
  line-height: 30px;
}

/* ******************************* */
/* HAPPY CLIENTS SECTION */
/* ******************************* */

.clients-logo {
  margin-top: 3rem;
}

.single-client {
  padding: 0 10px;
}

.single-client img {
  width: 40px;
  height: 150px;
}

/* ******************************* */
/* CONTACT SECTION */
/* ******************************* */
.contact {
  background: #f4f4f4;
}

.contact__description {
  margin: 3rem 0 1rem 0;
}

.contact__address {
  margin-top: 2rem;
}

.contact__place {
  font-weight: 100;
  color: #70c1b3;
}

.contact__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact__item i {
  color: #70c1b3;
  margin-right: .5rem;
}

.contact__item p{
  display: inline-block;
}

.contact__form {
  padding: 10px 20px;
  text-align: center;
}

.contact__form h4{
  text-transform: uppercase;
  font-weight: 300;
  color: #70c1b3;
}

.form-control:focus {
  border-color: rgb(112, 193, 179);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(112, 193, 179, 0.6);
}


/* ******************************* */
/* GOOGLE MAP SECTION */
/* ******************************* */

#map {
  height: 500px;
  width: 100%;
}

.google-map .container-fluid {
  margin: 0;
  padding: 0;
}

/* ******************************* */
/* FOOTER SECTION */
/* ******************************* */

footer {
  background: #212226;
  padding: 10px;
}

footer p {
  color: #70c1b3;
  line-height: 20px;
  margin-top: 10px;
}

/* ******************************* */
/* NAVIGATION */
/* ******************************* */

.navbar {
  padding: 20px 85px 15px 85px;
}

.nav-item {
  padding: 0 10px;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #fff!important;
}

.navbar-brand span {
  color: #70c1b3!important;
}

.nav-link {
  font-family: 'Raleway', sans-serif;
  color: #fff!important;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all .3s;
}

.nav-link:hover, .nav-link:focus {
  background: none;
  color: #70c1b3!important;
}

/* Nawigacja po scrolowaniu!!! */

.white-nav-top {
  background: #fff;
  padding: 10px 20px;
  box-shadow: 0 8px 6px -9px #999;
  z-index: 2;
}

.white-nav-top .nav-link {
  color: #212226!important;
}

.white-nav-top .navbar-brand {
  color: #212226!important;
}

.white-nav-top .nav-link:hover, .white-nav-top .nav-link:focus {
  background: none;
  color: #70c1b3!important;
}

/* SCROLL SPY */

.white-nav-top ul.navbar-nav > li > a.active {
  color: #70c1b3!important;
}


/* ********************************** */
/* BACK TO TOP STRZAŁKA */

.btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  background-color: #70c1b3;
  color: white;
  box-shadow: none!important;
  transition: all .3s;
  z-index: 999;
}


/* ******************************* */
/* Animation */
/* ******************************* */

.home-header-1 {
  animation-duration: 1.5s;
  animation-delay: 1s;
}

.home-header-2 {
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}

.home-text {
  animation-duration: 1.5s;
  animation-delay: 2s;
}

.home-button {
  animation-duration: 1.5s;
  animation-delay: 2.5s;
}

#arrow-down {
  animation-duration: 1.5s;
  animation-delay: 3s;
}
